.about {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--d8);

  > li::marker {
    color: var(--red);
    font-size: var(--fz20);
  }

  > li {
    text-align: start;

    > h2 {
      font-size: var(--fz20);

      color: var(--gray);
      text-shadow: -1px 1px 2px var(--black), 1px -1px 2px var(--black),
        -1px -1px 2px var(--black), 1px 1px 2px var(--black),
        0 0 2em var(--black);

      @media screen and (min-width: 576px) {
        font-size: var(--fz22);
      }

      @media screen and (min-width: 992px) {
        font-size: var(--fz24);
      }
    }

    @media screen and (min-width: 576px) {
      & > p {
        font-size: var(--fz18);
      }
    }

    @media screen and (min-width: 992px) {
      & > p {
        font-size: var(--fz20);
      }
    }
  }

  > li:last-child {
    display: flex;
    justify-content: center;
    margin: var(--d12) 0;
    margin-right: var(--d24);

    &::marker {
      content: '';
    }

    > button {
      border: none;
      outline: none;
      background-color: transparent;
      padding: 0;

      transition: transform var(--time) var(--time-des);

      > svg {
        color: var(--light-red);

        transition: color var(--time) var(--time-des);
      }

      &:hover,
      &:focus {
        transform: scale(1.1);

        > svg {
          color: var(--red);
        }
      }

      &:active {
        > svg {
          color: var(--white);
        }
      }
    }
  }
}
