.load-more {
  font-size: var(--fz18);
  color: var(--red);
  font-weight: var(--fw7);
  background-color: transparent;
  width: fit-content;
  outline: none;
  border: none;
  padding: var(--d8) var(--d16);
  border-bottom-left-radius: var(--d16);
  border-bottom-right-radius: var(--d16);
  border-bottom: var(--d4) dashed var(--red);

  transition: color var(--time) var(--time-des),
    border var(--time) var(--time-des);

  @media screen and (min-width: 576px) {
    font-size: var(--fz20);
  }
  @media screen and (min-width: 992px) {
    font-size: var(--fz22);
  }

  &:hover,
  &:focus {
    color: var(--gray);
    border-color: var(--gray);
  }

  &:active {
    color: var(--white);
    border-color: var(--white);
  }
}
