.nav {
  > ul {
    display: flex;
    justify-content: space-between;

    > li {
      display: flex;
      align-items: center;

      > a {
        font-size: var(--fz20);
        color: var(--gray);
        font-weight: var(--fw7);
        border-bottom-left-radius: var(--r8);
        border-bottom-right-radius: var(--r8);
        font-family: var(--c-b);
        background-color: transparent;
        padding: var(--r8);

        transition: color var(--time) var(--time-des),
          background var(--time) var(--time-des);

        &.active {
          background-color: var(--white);
          color: var(--black);
        }

        @media screen and (min-width: 576px) {
          font-size: var(--fz24);
        }

        @media screen and (min-width: 992px) {
          font-size: var(--fz28);
        }
      }
    }

    > li:first-child {
      > a {
        color: var(--white);

        > span {
          color: var(--gray);
        }

        &.active {
          color: var(--gray);

          > span {
            color: var(--black);
          }
        }
      }
    }
  }
}
